@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.score {
    align-items: center;
    margin: auto 14px;
}

.score p {
    font-size: 13px;
}

.post {
    background-color: #c4c4c4;
    display: flex;
    padding: 5px;
    max-width: 2448px;
    height: auto;
    margin: 25px 70px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.35);
}

.postBody {
    padding: 10px 0;
    width: 100%;
}

.proper {
    text-overflow: ellipsis;
    max-width: 1232px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto 14px;
}

.proper h2 {
    /* max-width: 1232px; */
    font-size: 24px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.proper p {
    font-size: 14px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.username {
    font-size: 14px;
    display: block;
    text-align: right;
    font-style: italic;
    color: #535252;
    margin-right: 10px;
}

.reply {
    font-size: 14px;
    color: #535252;
    font-style: italic;
}

.navbar {
    background-color: #2C387E;
    padding: 15.5px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin: auto;
    margin-left: -5px;
    user-select: none;
}

.search {
    height: 39px;
    width: 1000px;
    border: none;
    padding-left: 10px;
    background-color: #d4d4d4;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    user-select: none;
    color: white;
    font-size: 24px;
    align-items: center;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.btndiv:hover {
    background-color: #36469e;
}

.btndiv {
    padding: auto;
    margin: 10px;
}

.profile {
    margin: 60px auto;
}

#profpic{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName{
    /* margin-left:auto;
    margin-right:auto; */
    margin: 0 10px;
    text-align: center;
    height: 76px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    align-items: center;

    color: #000000;

    justify-content: space-between;
}

.profile-header-dot {
    margin: 0 10px;
    text-align: center;
    height: 76px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    align-items: center;

    color: #000000;

    justify-content: space-between;
}

.gamerScore {
    margin: 0 10px;
    text-align: center;
    height: 76px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    align-items: center;

    color: #000000;

    justify-content: space-between;
}

.profile-posts {
    padding:0;
}

.profile-posts h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}

.profile-posts ul li {
    list-style: none;
}

.post-page-replies {
    padding: 0px;
}

.board-name {
    font-style: bold;
    font-size: 50px;
    text-align: center;
    margin: 15px auto;
}

.nav-style {
    color: white;
    text-decoration: none;
}

.img {
    height: 150px;
    width: 200px;
}

.square-img {
    height: 150px;
    width: 150px;
}

.supp-img {
    height: 100px;
    width: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    font-size: 22px;
}

.grid-item {
    border: none;
    padding: 10px;
    text-align: center;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.new-post {
    margin: auto 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #c4c4c4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 40px;
    color: rgb(56, 55, 55);
    padding-top: 5px;
}

.post-btn {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}


/* TODO: preserving line breaks in the post because ux alternatively, we can tell them to just put <br> in their post LMAO */

.board-post {
    background-color: #c4c4c4;
    padding: 25px;
    padding-bottom: 15px;
    overflow: none;
    margin: 25px 70px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.34);
    white-space: pre;
}

.board-post p {
    text-align: justify;
    white-space: pre-line;
}

.reply-form {
    background-color: #c4c4c4;
    padding: 25px;
    padding-bottom: 15px;
    overflow: none;
    margin: 25px 70px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.34);
}

.title-input {
    height: 68px;
    width: 99%;
    padding: 0 10px;
    margin: auto;
    margin-right: 10px;
    font-size: 2em;
}

.post-body {
    margin: 20px auto;
    width: 99%;
    padding: 0 10px;
    padding-top: 10px;
    font-size: 16px;
}

.submit-btn {
    font-size: 16px;
    padding: 5px;
    margin: 0 25px;
}

.cancel-butt {
    color: #535252;
    /* font-style: underline; */
    text-align: center;
}

#navbar  {
    background-color: #2C387E;
    padding: 15.5px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    top: 0;
}

#login-logo {
    color: #FFFFFF;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height */

    align-items: center;
    text-align: center;

}

  *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }

  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
    font-size: 20px;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }

  .active-content {
    display: block;
  }

  .login-form {
    width: 450px;
    height: 47px;
    font-size: 20px;
    font-family: Poppins;
    padding: 5px;
  }

  #login-button {
    width: 240px;
    height: 47px;
    margin-left: 112.5px;
    background-color: #2C387E;
    font-family: Poppins;
    color: #FFFFFF;
    cursor: pointer;
  }

  .errormsg {
    color: red;
    text-align: center;
    font-size: 20px;
  }

  .cancel {
      cursor: pointer;
      text-align: right;
      color: #535252;
      font-style: italic;
  }

  .posts {
      padding: 0;
  }
  
  .posts li {
    /* text-decoration: none; */
    list-style: none;
    /* width: 100%; */
  }

  .board-post-score {
      padding: 0;
  }